/* CSS Document */

body
{
	background-image:url(../images/search.view.background.jpg);
	font-family: Cambria, "Blackadder ITC";
	height: 100%;
	position: fixed;
	width: 100%;
}

#body_struct
{
	background-color: #F2FCFE;
	float: left;
	height: 85%;
	margin-left: 10%;
	margin-top: 3%;
	overflow: auto;
	width: 80%;
	-webkit-border-radius: 8px;
}

.div_left
{
	float: left;
	width: 50%;
}

.div_right
{
	float: right;
	width: 50%;
}

.div_struct
{
	font-size: 18px;
	margin-left: 10%;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}